.header{
width:100%;
height:85px;
background:#4267B2;
}
.logo{
    width:50%;
    padding-top: 32px;
    float: left;
}
.logo-text{
    font-size:35px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-left: 170px;
    font-family: Arial, sans-serif;
}
.forgotten{
    color: #9cb4d8;
    font-size: 11px;
    text-decoration: none;


}
.login{
    width:50%;
    float: left;
    padding-top: 11px;
}
body{
        margin:0;
        font-family: Arial, sans-serif;
    }
    
   
.login-controls{
    margin-left: 170px;
}

.login-label{
color: white;
font-size: 12px;

}
.submit-login{
    background: #4267b2;
    color: white;
    border-color: #29487d;
    cursor:pointer;
}
.submit-login:hover{
background:black;
}
.main{
    background: linear-gradient(white,#d3d8E8);
    width:100%;
    height:850px;
}
.main-left{
    width:41%;
    float: left;
    padding-left: 170px;
    font-weight: bold;
    font-size: larger;
    padding-top: 60px;
}
.main-right{
    width:50%;
    margin-left: 0px;
    float: left;
    padding-top: 60px;
    padding-left: 1px;
}
.sign-up{
    background-color: green;
    color:white;
    width: 150px;
    height:30px;
    font-size:17px;
    font-weight: bold;
}
.a{
    text-decoration:none;
}

